<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>

      <bindings>
        
          <basicHttpBinding>
            <binding name="SoapBinding" maxReceivedMessageSize="8048576">
              <security mode="Transport" />
            </binding>
          </basicHttpBinding>
          
        </bindings>
  
      
      <client>

        <endpoint address="https://login.salesforce.com/services/Soap/u/42.0"
                  binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                  contract="sf_partner.Soap" name="Soap" />

      </client>


    </system.serviceModel>
</configuration>